Options -Indexes
Options +FollowSymLinks
Options -MultiViews
DirectoryIndex index.php
RewriteEngine on

RewriteRule ^we-welcome-you/?$ index.php [NC]
RewriteRule ^faq/?$ faq.php [NC]
RewriteRule ^terms-and-conditions/?$ terms.php [NC]
RewriteRule ^plan/?$ plan.php [NC]
RewriteRule ^rois/?$ rois.php [NC]
RewriteRule ^about/?$ about.php [NC]
RewriteRule ^contacts/?$ contacts.php [NC]
RewriteRule ^contact/?$ contact.php [NC]
RewriteRule ^contacts/?$ contacts.php [NC]
RewriteRule ^services/?$ services.php [NC]
RewriteRule ^solutions/?$ solutions.php [NC]
RewriteRule ^team/?$ team.php [NC]
RewriteRule ^gallery/?$ gallery.php [NC]
RewriteRule ^testimonials/?$ testimonials.php [NC]
RewriteRule ^more-services/?$ more-services.php [NC]
RewriteRule ^more-services1/?$ more-services1.php [NC]
RewriteRule ^more-services2/?$ more-services2.php [NC]
RewriteRule ^more-services3/?$ more-services3.php [NC]
RewriteRule ^more-services4/?$ more-services4.php [NC]
RewriteRule ^end-current-session/?$ logout.php [NC]
RewriteRule ^forget-password/?$ forgetpassword.php [NC]
RewriteRule ^investment/?$ investment.php [NC]
RewriteRule ^crypto-plan/?$ crypto-plan.php [NC]
RewriteRule ^real-estate-plan/?$ real-estate-plan.php [NC]
RewriteRule ^car-plan/?$ car-plan.php [NC]
RewriteRule ^affiliate/?$ affiliate.php [NC]
RewriteRule ^faq/?$ faq.php [NC]
RewriteRule ^support/?$ support.php [NC]
RewriteRule ^login/?$ login.php [NC]
RewriteRule ^signup/?$ register.php [NC]
RewriteRule ^register/?$ register.php [NC]
RewriteRule ^policy/?$ policy.php [NC]
RewriteRule ^rules/?$ rules.php [NC]
RewriteRule ^sales-rep/?$ sales-rep.php [NC]
RewriteRule ^forgot_password/?$ forgot_password.php [NC]
RewriteRule ^cryptocurrency-trading/?$ cryptocurrency-trading.php [NC]
RewriteRule ^financial-planning/?$ financial-planning.php [NC]
RewriteRule ^retirement-planning/?$ retirement-planning.php [NC]
RewriteRule ^investment-management/?$ investment-management.php [NC]
RewriteRule ^cannabis-investments/?$ cannabis-investments.php [NC]
RewriteRule ^binary-option/?$ binary-option.php [NC]
RewriteRule ^agro-investment/?$ agro-investment.php [NC]
RewriteRule ^clients/?$ clients.php [NC]
RewriteRule ^terms/?$ terms.php [NC]
RewriteRule ^policy/?$ policy.php [NC]
RewriteRule ^forgot-password/?$ forgot-password.php [NC]

#ErrorDocument 404 /404.php
#ErrorDocument 500 /index.php/500/
#RewriteRule ^(.*)$ admin_login.php?/$1 [NC,L,QSA]
#RewriteRule ^(.*)$ admin_login.php/$1 [NC,L,QSA]